* 
{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

//fix for firefox found on stack overflow
@-moz-document url-prefix(){
    *{
        min-height: 0;
    }
}

body, html 
{ 
    font: 13px Helvetica, Arial; 
    color: black;
    padding: 30px;
    padding-bottom: 60px;
    width: 100%; 
    height: 100%;
    background: #7BAFD4;
}

.header{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 12%;
    padding: 5px;
    border: 10px solid black;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.currentUser{
    background-color: white;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 80%;
    height: auto;
    border: 3px solid black;
}

.onlineUsers{
    background-color: white;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 20%;
    height: auto;
    border: 3px solid black;
}

.container{
    width: 100%;
    height: 85%;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.window{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100%;
    padding: 5px;
    border: 10px solid black;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.chat{
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 80%;
    height: auto;
    border: 3px solid black;  
    overflow-y: scroll;
    background: #eee;
}

.users{
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: column-reverse;
    width: 20%;
    height: auto;
    border: 3px solid black;   
    overflow-y: scroll;
    background: #eee;
}

.form-container{
    position: relative;
}

form 
{ 
    background: #000; 
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 5px;
}

form input 
{ 
    border: 0; 
    padding: 10px; 
    width: 90%; 
    margin-right: .5%; 
}

form button 
{ 
    width: 9%; 
    background: #7BAFD4; 
    border: none; 
    padding: 10px; 
    font-weight: bold;
}

#messages 
{ 
    list-style-type: none;  
}


#messages li 
{ 
    padding: 5px 5px;
    width: 100%;
}

#messages li:nth-child(odd) 
{ 
    background: lightgray;
}

#users
{
    list-style-type: none;   
}

#users li 
{ 
    padding: 5px 5px;
    width: 100%;
}

#users li:nth-child(odd) 
{ 
    background: lightgray;
}